<app-admin-menu></app-admin-menu>

<div class="background_img_van_gogh appraisals_background_list">
    <div fxLayout="column" fxLayoutAlign="center center" style="background-color: white; padding-top: 3%;">
        <div>
            <mat-form-field class="full-width" appearance='legacy'>
                <mat-label>Unesite ime korisnika za statistiku artikla</mat-label>
                <input matInput required placeholder="Username" [(ngModel)]="username_search">
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)='search_user()'>Pretrazi</button>

        <br>


        <div id="container_1"></div>

    </div>

</div>