
<!-- <div style="display: flex; align-items:center; justify-content:center;  background-color: #FBEEC1; height: 30px; font-size: large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  Procena umetnina
</div> -->
<!-- Procena -->

<!-- <router-outlet></router-outlet> -->

<!-- ocemo li ici -->

<!-- <div style="width: 40px;"> 
  <img style="height: 25px;" src="C:\Users\Petar\Desktop\etf_logo.png"/>
  ocemo li ici 
</div> -->


<div fxLayout="column" fxFlexFill class="header">
  <div style="display: flex; align-items:center; justify-content:center; height: 30px; font-size: large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  Procena umetnina
  </div>
  <div fxFlex>
      <router-outlet></router-outlet> 
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="footer">
    Elektrotehnicki fakultet u Beogradu



    <img src="assets/etf_logo.png"  style="position: relative; right: 10px;"  width="21.3px" height="25"> 
  </div>
</div>


