
<div *ngIf="type == 'user'">
<app-user-menu></app-user-menu>
</div>
<div *ngIf="type == 'appraiser'">
<app-appraiser-menu></app-appraiser-menu>
</div>
<mat-card class="cardDesign">
    <mat-card-title>
      Promena lozinke
    </mat-card-title>
    <mat-card-content>
    <div>
<mat-form-field class='full-width' >
    <mat-label>Korisnicko ime</mat-label>
    <input matInput [(ngModel)]='username'>
  </mat-form-field>

</div>
<div>
  <mat-form-field class='full-width'>
    <mat-label>Stara lozinka</mat-label>
    <input matInput type='password' [(ngModel)]='old_password'>
  </mat-form-field>
</div>
<div>
  <mat-form-field class='full-width'>
    <mat-label>Nova lozinka</mat-label>
    <input matInput type='password' name="pass" [(ngModel)]='new_password'>
  </mat-form-field>
</div>
<div>
  <mat-form-field class='full-width'>
    <mat-label>Ponovite novu lozinku</mat-label>
    <input matInput type='password' name="new_pass" [(ngModel)]='new_password_repeat'>
  </mat-form-field>
</div>
</mat-card-content>
  <mat-card-actions>
    <div class="centerComponent">
  <button mat-raised-button color="primary" (click)='change_password()'>Promeni lozinku</button>
</div>
</mat-card-actions>
  </mat-card>

  <!-- {{username}}
  {{old_password}}
  {{new_password}} -->
  <!-- {{message}} -->