<app-admin-menu></app-admin-menu>

<div>
  <mat-form-field class="full-width" appearance='legacy'>
    <mat-label>Unesite ime korisnika za statistiku</mat-label>
    <input matInput required placeholder="Username" [(ngModel)]="username">
  </mat-form-field>
</div>


<div id="container"></div>

<button mat-raised-button color="primary" (click)='login()'>Pretrazi</button>

<div style="display: flex;">
  <div id="container_1" style="height:600px; width:800px"></div>

  <div id="container_2" style="height:600px; width:800px"></div>
</div>