/* You can add global styles to this file, and also import other style files */

html, body {
        height: 100%;
}

html, body {
        box-sizing: border-box;
        margin: 0;
}

body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
}


.centerComponent {

        display: flex;
        justify-content: center;

}

#menu_color {
        background-color: #BC986A;
}

.center {

        width: 340px;
        padding: 40px;
        /* position : absolute; */
        /* top: 5%; */
        /* left : 50%; */
        /* transform:  translate(-50%,50%); */
        background-color: #FBEEC1;


}

.error {
        color: red;
}

.success {
        color: green;
}

.header, footer {
        background-color: #FBEEC1;
        height: 30px;
}

.background_img_van_gogh {
        background-image: url('assets/starry_night.jpg');
        min-height: 100%;
        height: 100%;
}

.appraisals_background_list {
        padding-left: 30%;
        padding-right: 30%;
}

.backgroundPicture {
        background-image: url('assets/background.jpg');
        min-height: 100%;
        /* background-repeat: no-repeat; */
        /* background-size: cover; */

        /* background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #daf0ff; */
        height: 100%;
}

.backgroundPictureForum {
        background-image: url('assets/forum.jpg');
        min-height: 100%;
        height: 100%;
}

.navbar {
        justify-content: space-between;
}

span {
        padding-right: 1rem;
}


html, body {
        height: 100%;
}

body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
}