
<mat-toolbar color='primary' class='navbar' style="background-color: #BC986A;">
    <div>
      {{username}}
  </div>
    <div>
      <!-- <a mat-button href="/account-requests" >Zahtevi novih naloga</a>
      <a mat-button href="/sports">Dodavanje sportova</a>
      <a mat-button href="/competitions" >Pravljenje turnira</a> -->

      <a mat-button href="/new-appraisal"> Nova procena</a>
      <a mat-button href="/current-appraisals">Trenutne procene</a>
      <a mat-button href="/history">Istorija procena</a>
      <a mat-button href="/change-password">Promeni lozinku</a>
      <a mat-button href="/forum">Forum</a>
      <a mat-button href="/payment">Uplata</a>



      <button mat-button (click)='logout()'>Odjava</button>
    </div>
  </mat-toolbar>
